:host {
  display: block;
  width: 100%;
}

:host input[type=text] {
  width: calc(100% - 9em);
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  height: 2em;
  vertical-align: bottom;
}

:host input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
