:host {
  display: block;
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 0.2em;
  cursor: pointer;
  font-size: 80%;
}

:host #tiles {
  font-family: monospace;
}

:host #info:before {
  content: attr(data-amount);
}

:host #info[data-winner=true]:before {
  font-weight: bold;
}

:host #log {
  margin-top: 0.2em;
  white-space: pre;
  text-align: left;
  color: #222;
  background: #DDD;
}
