section {
  width: 1024px;
  margin: auto;
  text-align: justify;
  height: 30em;
  overflow: hidden;
  transition: height 0.3s linear;
}

section.slideout {
  height: 0;
}

/*
  Universal styling
*/

#app {
  text-align: center;
}

* {
  font-family: Verdana, "MS Mincho";
  font-size: 10pt;
  outline: 0;
}

body > h1 {
  font-size:110%;
  text-align: center;
}

button {
  text-align: center;
  font-size: 1em;
  vertical-align: middle;
  padding: 0.2em;
  margin: 1px;
  border: 1px solid darkgrey;
  box-model: border-box;
}

button + button {
  margin-left: 1px;
}

button:active {
  background: darkgrey;
}

button.pressed {
  background: pink;
}

.hidden {
  display: none!important;
}

*[disabled] {
  opacity: 0.5!important;
}


/*
  Game styling
*/

.game {
  text-align: center;
}

.game .info {
  margin: 0.5em 0;
}

.game .winmodifiers {
  display: inline-block;
}

.game .score {
  background: #A9E9A3;
  margin: 1em;
}

/*
  Keep the winds human readable, even if the source says they're numbers
*/
span.wind0 { color: transparent; }
span.wind1 { color: transparent; }
span.wind2 { color: transparent; }
span.wind3 { color: transparent; }

span.wind0:before { content: '東'; font-weight: bold; color: black; }
span.wind1:before { content: '南'; font-weight: bold; color: black; }
span.wind2:before { content: '西'; font-weight: bold; color: black; }
span.wind3:before { content: '北'; font-weight: bold; color: black; }

/*
  Player styling
*/

.player {
  display: inline-block;
  border: 1px solid black;
  padding: 4px;
  overflow: hidden;
}

.pwidth {
  margin: 0.05em;
  width: 20.5em;
}

.player set {
  margin: 0.25em 0;
}

.player .playerinfo {
  margin-bottom: 0.5em;
}

.player .name {
  width: 10em;
  border-width: 0 0 1px 0;
  text-align: center;
}

.player .wind,
.player .wins {
  width: 1em;
  text-align: center;
  border: none;
}

.player .scoring {
  font-size: 90%;
}

/*
  Player set styling
*/

.set {
  display: block;
  width: 100%;
}

.set input {
  display: inline-block;
}

.set input[type=text] {
  width: 5em;
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  height: 2em;
  vertical-align: bottom;
}

.set button {
  vertical-align: middle;
  width:  2em;
  height: 2em;
}

.set button.characters.pressed {
  background: rgba(205,0,0,0.5);
  color: #6F0000;
}

.set button.bamboo.pressed {
  background: rgba(0,100,0,0.4);
  color: #283E00;
}

.set button.dots.pressed {
  background: rgba(0,60,175,0.4);
  color: #000EA7;
}

/*
  Bonus tiles
*/

.bonus button {
  min-width: 1.75em;
}

.bonus div {
  display: inline-block;
}

.bonus .flowers button {
  color: blue;
}

.bonus .seasons button {
  color: red;
}

.bonus button.pressed { color: transparent; border:1px solid black; }

.bonus button.f1.pressed { background: url(tiles/f1.jpg); background-size: 100% 100%; }
.bonus button.f2.pressed { background: url(tiles/f2.jpg); background-size: 100% 100%; }
.bonus button.f3.pressed { background: url(tiles/f3.jpg); background-size: 100% 100%; }
.bonus button.f4.pressed { background: url(tiles/f4.jpg); background-size: 100% 100%; }

.bonus button.s1.pressed { background: url(tiles/s1.jpg); background-size: 100% 100%; }
.bonus button.s2.pressed { background: url(tiles/s2.jpg); background-size: 100% 100%; }
.bonus button.s3.pressed { background: url(tiles/s3.jpg); background-size: 100% 100%; }
.bonus button.s4.pressed { background: url(tiles/s4.jpg); background-size: 100% 100%; }

/*
  Limit hand picker
*/

select.limits {
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

/*
  Scoring
*/

.scoring-history {
  display: inline-block;
  padding: 4px;
  vertical-align: top;
}

.scoring-history .entry {
  display: block;
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 0.2em;
  cursor: pointer;
  font-size: 80%;
}

.scoring-history entry .tiles {
  font-family: monospace;
}

.scoring-history .entry .info:before {
  content: attr(data-amount);
}

.scoring-history .entry .info[data-winner=true]:before {
  font-weight: bold;
}

.scoring-history .entry .log {
  margin-top: 0.2em;
  white-space: pre;
  text-align: left;
  color: #222;
  background: #DDD;
  border-top: 1px solid #666;
}

.scoring-history .entry .log .tilebank {
  width: 100%;
  background: inherit;
}

.scoring-history .entry .log .tilebank .tile {
  width: 6%;
}

/*
  Tile bank styling
*/

.tilebank {
  display: inline-block;
  height: 2em;
  margin: 0;
  background: #F9F9F9;
  width: 6em;
  vertical-align: middle;
}

.tilebank .tile {
  max-height: 100%;
}

/*
  Tile styling
*/

.tile {
  border: 1px solid darkgrey;
}

.tile + .tile {
  margin-left: 1px;
}
